
<!-- Central Picture and Name -->
	<div class="jumbotron">
	<div align="center">
		<img src="https://avatars3.githubusercontent.com/u/11427441?v=3&s=460" class="img-circle">
	</div>
	<div align="center">
		<h1>Drew Ruselowski</h1><br>
		<h2>Computer Programmer / Front-End, Back-End Development / Awesome Guy </h2>
	</div>
	</div>
<!-- I want to put a little bio about myself here -->
	<div class="container">
	<div class="row featurette">
		
		<div class="col-md-7">
			<h2 class="featurette heading">
				Michigan Born. 
				<span class="text-muted">Bay Area Educated.</span>
			</h2>
			<p class="lead">
				I was born and raised in Ann Arbor, Michigan, where I spent countless hours playing video games, and writing games to play in BASIC, and on my TI-83.  I am a recent graduate of Rocket University, where I learned to program in Javascript and Python, to utilize frameworks and libraries for these languages.  I am constantly studying to learn new languages, and new ways to increase my skills with what I already know.
			</p>
			<p class="lead">
				I love video games, and I love to problem solve, and I work to incorporate both into my life whenever possible.  The projects I try to develop are sometimes inspired by problems I want to try to solve, and other times the result of my boundless excitement over a game.
			</p>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-responsive center-block img-rounded" src="./mainpage/assets/san_francisco.jpg">
		</div>
	</div>
	<hr class="featurette-divider">

	</div>


			<p class="lead" align="center">
				Please take a look around, contact me with any questions or concerns.  Thank you!
			</p>

<!-- Playing around with featurettes, I want to push the pictures to different sides. 

   <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

        -->