<!--Project Body -->
<div class="container">
	<div class="projectHeading">
		<h3>Past Projects</h3>
	</div>

	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a target="_blank" href="http://www.drewruselowski.com/pokemon/ " id="pokemonGen">Random Pokemon Team Generator</a>
			</div>
			<div class="panel-body">
				We use jQuery to make AJAX calls to the Pokemon RESTful API.  Information gathered assembles a random team of six pokemon.  Afterwards, you can reset, and make a new team.
			</div>
			<div class="panel-heading">
				<a target="_blank" href="http://www.drewruselowski.com/league/ " id="leagueGen">League of Legends Stats Search</a>
			</div>
			<div class="panel-body">
				Utilizes AngularJS to make calls to the League of Legends API to pull player information, as well as provide a searchable list of all available playable characters.
			</div>
			<div class="panel-heading">
				<a target="_blank" href="http://chelseadoors.com" id="chelseadoor">Chelsea Door Co. Inc.</a>
			</div>
			<div class="panel-body">
				Designed and built the Chelsea Door website from scratch - Utilizes Twitter Bootstrap, AngularJS, Javascript, CSS, PHP, and HTML5.
			</div>
		</div>
	</div>
	
<!-- UI Accordiion Test -->
<!-- 	<div>
		<uib-accordion>
			<uib-accordion-group>
				<uib-accordion-heading>
					<a target="_blank" href="http://google.com">Ah yes, So this is a test!</a>
					<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
				</uib-accordion-heading>
				Indeed, it is a test.  
			</uib-accordion-group>
		</uib-accordion>
	</div> -->

</div>

