<!--resume Body -->
<div class="container">
	<h1>Drew Ruselowski</h1>
	<h3>Software Engineer | Web Developer</h3>
	<p>817 12th Street<br>Santa Monica, CA<br>Cell: 734.330.9448<br>Email: druselow@gmail.com</p>
</div>
<div class="container">
	<h3>Professional Summary: </h3>
	<p>Results-oriented software engineering professional with broad knowledge skill set. Focus on front-end and back-end object oriented programming.  Analytical, detail-oriented, fast learner, extremely dedicated</p>
</div>
<div class="container">
	<h3>Skills</h3>
	<table>
		<tr>
			<td>-Object-Oriented Programming</td> 
			<td>-Adobe Premiere, After Effects, Filemaker Pro</td>
		</tr>
		<tr>
			<td>-Java, JavaScript, Python, HTML 5, CSS</td>
			<td>-Microsoft Office</td>
		</tr>
		<tr>
			<td>-Frameworks include Django, Angular, Backbone</td>
			<td>-Continuing Education at Santa Monica College </td>
		</tr>
		<tr>
			<td>-Libraries include Bootstrap, jQuery, PhaserJS</td>
			<td>-Exceptional time management</td>
		</tr>
		<tr>
			<td>-WordPress, Git Workflow, Android Studio</td>
			<td>-Strong passion for fast paced results oriented environment</td>
		</tr>
		<tr>
			<td>-Macromedia Fireworks, Flash, Final Cut Pro</td>
			<td>-Advanced problem solving skills</td>
		</tr>
	</table>
</div>
<div class="container">
	<h3>Work History</h3>
	<table>
		<tr>
			<td><i>08/2015 - Present</i></td>
			<td><p><b>Software Engineer & Web Developer</b></p>
				<p><i>Freelance</i></p>
				<ul>
					<li>Coded several websites using Bootstrap and Angular JS</li>
					<li>Experience coding apps for Android phones using Android Studio</li>
					<li>Worked closely with clients to establish problem specifications and system designs</li>
					<li>Created webapps utilizing restful APIs and back-ends utilizing Django</li>
					<li>Solve HTML malware and troubleshoot IT hardware & software concerns for local businesses</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td><i>01/2013 - 05/2015</i></td>
			<td><p><b>Assistant Escrow Coordinator / IT Coordinator</b></p>
				<p><i>Timothy Cline - Santa Monica, CA</i></p>
				<ul>
					<li>Modified existing software to correct errors, adapt to new hardware, and improve performance</li>
					<li>Identified and suggested new technologies and tools for enhancing and increasing productivity</li>
					<li>Troubleshot company’s internal servers/internet/phone system</li>
					<li>Reseached and implemented new technologies for out-of-office presentations</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td><i>04/2008 - 10/2012</i></td>
			<td><p><b>Talent & Literary Agency Assistant & IT Assistant</b></p>
				<p><i>Innovative Artists - Santa Monica, CA</i></p>
				<ul>
					<li>Evaluated potential software products based on new & existing system requirements</li>
					<li>Identified and suggested new technologies and tools for enhancing team productivity</li>
					<li>Troubleshot in-house internet/email/VOIP telephones</li>
				</ul>
			</td>
		</tr> 
	</table>

	<h3>Education</h3>
	<table>
		<tr>
			<td><i>2015</i></td>
			<td><p><b>Graduate: Software Engineering</b></p>
				<p><i>Rocket University - San Francisco, CA</i></p>
			</td>
		</tr>
		<tr>
			<td><i>2007</i></td>
			<td><p><b>Bachelor of Arts: Film and Video Studies</b></p>
				<p><i>University of Michigan - Ann Arbor, MI</i></p>
			</td>
		</tr>
	</table>
</div>

<div class="container">
	<h3> Accomplishments</h3>
	<table>
		<tr>
			<th>Rocket University Projects</th>
			<th>Freelance Projects</th>
		<tr>
			<td>-Hangman (Python)</td>
			<td>-<a target="_blank" href="http://www.chelseadoors.com">Chelsea Door Responsive Website:</a> Design & maintain</td>
		</tr>
		<tr>
			<td>-AWS deployed blog (AWS, Django, Python, and JavaScript)</td>
			<td>-Star Wars Blocker - Google Chrome Extension (JS, HTML5)</td>
		</tr>
		<tr>
			<td>-Responsive Homepage (​Bootstrap, Backbone JS)</td>
			<td>-League of Legends Stats API (HTML5, CSS3, JS, Angular) </td>
		</tr>
		<tr>
			<td>-Basic Games (PhaserJS)</td>
			<td>-Pokemon Random Team Builder (HTML5, CSS3, JS, JQuery)</td>
		</tr>
	</table>
</div>

<br>
<div class="container">
	<a href="./mainpage/assets/Ruselowski-Resume.pdf" download>Download Resume as PDF</a>
</div>
<br>

